<!DOCTYPE html>
<html>
    
<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta name="description" content="A fully featured admin theme which can be used to build CRM, CMS, etc.">
        <meta name="author" content="Coderthemes">

        <link rel="shortcut icon" href="static/assets/images/favicon_1.ico">

        <title>{{app_name}} - Responsive Admin Dashboard Template</title>

        <link href="static/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="static/assets/css/core.css" rel="stylesheet" type="text/css">
        <link href="static/assets/css/icons.css" rel="stylesheet" type="text/css">
        <link href="static/assets/css/components.css" rel="stylesheet" type="text/css">
        <link href="static/assets/css/pages.css" rel="stylesheet" type="text/css">
        <link href="static/assets/css/menu.css" rel="stylesheet" type="text/css">
        <link href="static/assets/css/responsive.css" rel="stylesheet" type="text/css">

        <script src="static/assets/js/modernizr.min.js"></script>

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->

        
    </head>
    <body>


        <div class="wrapper-page">
            <div class="panel panel-color panel-primary panel-pages">
                <div class="panel-heading bg-img"> 
                    <div class="bg-overlay"></div>
                    <h3 class="text-center m-t-10 text-white"> Sign In to <strong>{{app_name}}</strong> </h3>
                </div> 


                <div class="panel-body">
                <form class="form-horizontal m-t-20" action="" method="POST" novalidate>
                     {{ form.hidden_tag() }}
                    
<!--                    <div class="form-group">-->
<!--                        <div class="col-xs-12">-->
<!--                            <input class="form-control input-lg" type="text" required="" placeholder="Username">-->
<!--                        </div>-->
<!--                    </div>-->

                      <div class="form-group">
<!--                        <label>{{ form.username.label }}</label>-->
                          <div class="col-xs-12">
                        {{ form.username(size=32, class="form-control input-lg", placeholder="Username") }}

                        {% for error in form.username.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                               </div>
                      </div>

<!--                    <div class="form-group">-->
<!--                        <div class="col-xs-12">-->
<!--                            <input class="form-control input-lg" type="password" required="" placeholder="Password">-->
<!--                        </div>-->
<!--                    </div>-->

                      <div class="form-group">
<!--                        <label>{{ form.password.label }}</label>-->
                          <div class="col-xs-12">
                        {{ form.password(size=32, class="form-control input-lg", placeholder="Password") }}
                        {% for error in form.password.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                                                        </div>

                      </div>

                    <div class="form-group">
                        <div class="col-xs-12">
                            <div class="checkbox checkbox-primary">
<!--                                <input id="checkbox-signup" type="checkbox">-->
<!--                                <label for="checkbox-signup">-->
<!--                                    Remember me-->
<!--                                </label>-->
                                <p>{{ form.remember_me(id="checkbox-signup") }} {{ form.remember_me.label }}</p>

                            </div>

                        </div>
                    </div>
                    
                    <div class="form-group text-center m-t-40">
                        <div class="col-xs-12">
<!--                            <button class="btn btn-primary btn-lg w-lg waves-effect waves-light" type="submit">Log In</button>-->
                              <p>{{ form.submit(class="btn btn-primary btn-lg w-lg  waves-light") }}</p>

                        </div>
                    </div>


                    <div class="form-group m-t-30">
                        <div class="col-sm-7">
                            <a href="/recoverpw"><i class="fa fa-lock m-r-5"></i> Forgot your password?</a>
                        </div>
                        <div class="col-sm-5 text-right">
                            <a href="/register">Create an account</a>
                        </div>
                    </div>
                </form> 
                </div>                                 
                
            </div>
        </div>

        
    	<script>
            var resizefunc = [];
        </script>

        <!-- Main  -->
        <script src="static/assets/js/jquery.min.js"></script>
        <script src="static/assets/js/bootstrap.min.js"></script>
        <script src="static/assets/js/detect.js"></script>
        <script src="static/assets/js/fastclick.js"></script>
        <script src="static/assets/js/jquery.slimscroll.js"></script>
        <script src="static/assets/js/jquery.blockUI.js"></script>
        <script src="static/assets/js/waves.js"></script>
        <script src="static/assets/js/wow.min.js"></script>
        <script src="static/assets/js/jquery.nicescroll.js"></script>
        <script src="static/assets/js/jquery.scrollTo.min.js"></script>

        <script src="static/assets/js/jquery.app.js"></script>
	
	</body>

</html>